.poster {
  width: 160px;
  height: 160px;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  div {
    width: calc(100% / 6);
    background-color: #2E3A46;
    margin: 10px 10px;
    padding: 10px 10px;
    text-align: center;
    h2{
      color: white;
      text-transform: uppercase;
    }
    h3{
      color: #9b1a1c;
      margin: 0 0 3px;
    }
    h4{
      color: grey;
      margin: 0 0 3px;
    }
  }
}
